<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boo-do List</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    
    <div id="app">
        
        <header>
            <div class="logo">
                <img src="img/logo.jpg" alt="">
                <h1>Boo-do-List</h1>
            </div>
        </header>

        <div class="new-task">
            <input type="text" placeholder="Nuova task" v-model="newTask" @keyup.enter="aggiungiTask" class="inserisci-task" >
            
            <!-- Al cliock o alla pressione del tasto ENTER esegui il method aggiungiTask -->
            <button class="submit" @click="aggiungiTask">Aggiungi <span>Task</span></button>
           
            <!-- Il v-if fa vedere il blocco assegnato se è vero altrimenti non lo rende visibile, pertanto basterà inserire il data 'error' all'interno di v-if per rendere responsiva questa istanza -->
            <div class="error" v-if="error">
                <small style="color: red;">Almeno 5 caratteri</small>
            </div>
        
        </div>

        <div class="task-manager">
            <ul>
                <li class="task" v-for="(task, index) in tasks">
                    <h2>{{task.testoTask}}</h2>
                    <i class="fa-solid fa-x" @click="rimuoviTask(index)"></i> 
                </li>
            </ul>
            <!-- Fai apparire qusta stringa solo se non ci sono task -->
            <h2 v-if="tasks.length === 0" >Non ci sono tasks!</h2>
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>